<h6>El siguiente enlace es sólo para aprendizaje, como es de suponer,
    el contenido de la web es completamente ficticio, así como las
    fotografías tampoco se corresponden con los lugares indicados. Si
    te ha llegado un  mail de sequelizeTravels, una de dos, o alguien
    ha descargado este proyecto y lo ha usado de forma errónea, o es
    que resulta que un loco ha abierto dicha Firma, pero va a ser que
    no...
</h6>