<div class="swiper-container">
    <div class="swiper-wrapper">
        <img src="/uploads/{{path}}" alt="Fotografía" class="swiper-slide">
    </div>

{{!--     <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div> --}}
</div>