<div class="row">
    {{#if travels}}
    {{#each travels}}
    <div class="col-md-4 col-sm-12 card">
        {{#if ../user.admin}}
            <div class="row">
                <a href="/travel/edit/{{id}}">
                    <button class="btn btn-sm btn-outline-info">
                        <i class="far fa-edit"></i> Editar
                    </button>
                </a>

                <form action="/travel/delete/{{id}}/?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        <i class="fas fa-slash"></i> Eliminar
                    </button>
                </form>
            </div>
        {{/if}}
        {{> cardViaje}}
    </div>
    {{/each}}
    {{else}}
    <div class="bg-dark mx-auto">
        {{#if user.admin}}
        <a class="text-center" href="/travel/create">
            No existen viajes · Crea Nuevo destino!</a>
        {{else}}
        <h1 class="text-white">Todavía no hay viajes. Estamos trabajando en ello.</h1>
        <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/49/49728.png" alt="Work in progress">
        {{/if}}
    </div>
    {{/if}}
</div>