<form action="/user/forgotPassword/sendMail" method="POST">
    <input type="email" name="email" placeholder="Introduce aquí tu email">
    <input type="submit" value="Aceptar" class="btn btn-sm btn-success mt-4">
</form>