<form action="/user/logIn" method="POST">
    <input value="{{email}}" name="email" type="mail" placeholder="Dirección mail.." required>
    <input name="password" type="password" placeholder="Contraseña.." required>
    <button type="submit" class="mt-4 btn btn-sm btn-success">Regístrate</button>
</form>