<form action="/user/logIn" method="POST">
    <input value="{{email}}" name="email" type="mail" placeholder="Dirección mail.." required>
    <input name="password" type="password" placeholder="Contraseña.." required>
    <a href="/user/forgotPassword" class="mt-4 btn btn-sm btn-outline-info">He olvidado mi contraseña</a>
    <button type="submit" class="mt-4 btn btn-sm btn-success">Accede</button>
</form>