<form action="/user/register" method="POST">
    <input name="name" type="text" placeholder="Tu nombre.." required>
    <input name="email" type="mail" placeholder="Dirección mail.." required>
    <input name="password" type="password" placeholder="Contraseña.." required>
    <button type="submit">Regístrate</button>
</form>