<div class="container bg-dark text-white text-center mt-4 p-4">
    <div class="apiRow">
        <a class="col-md-4 text-center" href="/api/travels">API DEMO</a>
        <h5 class="col-md-4">/API/travels</h3>
        <small class="col-md-4">Con esta opción accedes a todas los Destinos.</small>
    </div>
    <div class="apiRow mt-4">
        <small class="col-md-4">Registra un nuevo Destino</small>
        <h5 class="col-md-4">/API/travels (POST)</h5>
        <small class="col-md-4">[destiny] [price] [discount] [dateInit] [dateTurn] [author] [imgPath] </small>
    </div>
    <div class="apiRow mt-4">
        <small class="col-md-4">Filtrar según ID</small>
        <h5 class="col-md-4">/API/travels/[ID]</h5>
        <div class="col-md-4"></div>
    </div>
    <div class="apiRow mt-4">
        <small class="col-md-4">Filtrar según precio máximo</small>
        <h5 class="col-md-4">/API/travelsByPrice/[maxPrice]</h5>
        <div class="col-md-4"></div>
    </div>
    <div class="apiRow mt-4">
        <small class="col-md-4">Filtrar según Destino</small>
        <h5 class="col-md-4">/API/travelsByPlace/[Destino]</h5>
        <div class="col-md-4"></div>
    </div>
    <div class="apiRow mt-4">
        <small class="col-md-4">Filtrar según Autor</small>
        <h5 class="col-md-4">/API/travelsByAuthor/[NombreAutor]</h5>
        <div class="col-md-4"></div>
    </div>
</div>